/*настройки для body и первого экрана (firstScreen)*/

body {
    font-family: Gentum Book Basic, serif;
	margin: 0;
}

/* растягиваем картинку на все окно браузера */
html, body {
	height: 100%;
}

.firstScreen {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.firstScreen__image {
    width: 100%;
    height: 100%;
}

/* textContainer с position: absolute располагаем поверх картинки */
.firstScreen__textContainer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

/* firstScreen__text с position: relative внутри firstScreen__textContainer сохраняет ширину и расположение содержимого при изменении размеров окна */
.firstScreen__text {
	position: relative;
	width: 720px;
	margin: 0 auto;
}

.firstScreen__title {
	font-weight: bold;
	font-size: 60px;
	margin-bottom: 20px;
	color: #fff;
}

.firstScreen__headline {
	font-style: italic;
	font-size: 28px;
	margin: 10px 0;
	color: #d7d7d7;
}

.firstScreen__writtenBy {
	font-family: OpenSans, Arial, sans-serif;
	font-size: 14px;
	margin: 25px 0 0;
	color: #d7d7d7;
}

.firstScreen__author {
	font-family: OpenSans, Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	margin: 5px auto 25px;
	color: #fff;
}

.firstScreen__authorPhoto {
	margin-top: -10px;
	margin-left: 5px;
	vertical-align: -5px;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}

/* контейнер для позиционирования социальных кнопок на том же уровне, что и имя автора */
.firstScreen__socialContainer {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 5px;
}

.socialSymbol {
	margin: -10px 0 0 20px;
	width: 15px;
	height: 15px;
	text-align:right;
}