body {
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: verdana, sans-serif;
}

::selection {
    color: #ccffff;
    background: #66cc33;
}

.author__photo{
    position: fixed;
    width: 10%;
    height: auto;
    left: 6%;
    top: 4%;
    border-radius: 50% 50%;
    /*-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;*/
}

.author__photo:hover {
	animation-name: author__photo--Scale;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-iteration-count: 2;
	/*animation-fill-mode: forwards;*/
	Animation-direction: alternate;
}

@keyframes author__photo--Scale{
	100% {
	/*-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
	filter: none;*/
	transform: scale(1.5) translate(0%, 10%);
	}
}

.card{
    position:relative;
    width:55%;
    margin: 1% auto;
    padding: 0;
    text-align:center;
    background-color: #333;
	opacity: 0.9;
}

.myCard{
    position: fixed;
	top: 30%;
	left: 1%;
    width:20%;
    margin: 0 auto;
    padding: 0;
    text-align:center;
    background-color: #333;
	color: #cccccc;
	opacity: 0.9;
}

.projects{
	position: fixed;
	padding: 0 0;
    margin: 0 0;
	top: 30%;
	left: 1.5%;
	width: 20%;
    text-align: left;
    color: #cccccc;
    line-height: 1.5;
    background-color: #333;
	opacity: 0.9;
}

.otherContent {
	position: fixed;
	padding: 0 0;
    margin: 1% 0;
	top: 0;
	right: 1.5%;
	width: 20%;
	height: 100%;
    text-align: left;
    color: #cccccc;
    line-height: 1.5;
    background-color: #333;
	opacity: 0.9;
	overflow-y: scroll;
}

.article {
	padding: 0 5px;
}
.nav{
	text-indent: 10px;
	padding: 5px 5px;

}

.title{
    width:100%;
    background-color: #666;
    padding: 20px 0;
    margin: 0 0;
    color: #ff9900;
	text-align: center;
}
.date{
	width:100%;
    background-color: #666;
    padding: 5px 0;
    margin: 5px 0;
    color: #ff9900;;
}

.symbol {
	margin: 0 5px -5px 5px;
	width: 30px;
	height: 30px;
	text-align:right;
}

.authorPhoto {
	border-radius: 50%;
}

.pic{
    width: 100%;
}


.article{
    padding: 0 5% 10px 5%;
    text-indent: 5%;
    text-align: left;
    color: #cccccc;
    line-height: 1.5;
}


.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    font-size: small;
    text-align: center;
    color: #66cc33;
}

.but{
    display: inline-block;
    padding: 0 1% 0;
}

.highLightGreen:hover {
    background-color: #66cc33;
    color: #ccffff;
}

.highLightYellow:hover {

    background-color: #ff9900;
    color: #000000;
}

a:link, :visited, strong {
    color: #ccffff;
}