@font-face {
    font-family: MicraDi; 
    src: local('MicraDi'),url(../fonts/micradi_regular.ttf) format('truetype')        
   }

body{
    display: flex;
    justify-content: center;
    font-family:sans-serif;
    font-family: MicraDi;
    height: 100%;
    color:  #fff;
}

form {
    width: 100%;

    padding: 0;
    margin: 0;
}
button {
    padding: 0px;
    margin: 0px;
    width: 100%;
    border: 0;
    background-color: transparent;
}

.default {
    &__container {
        max-width: 400px; 
        margin: 0px auto;
        padding: 5px;
        height: 90%;
        border-radius: 10px;
        background-color: #000;
        box-shadow: 0 0 10px #000;
        transition-property: all;
        transition-duration: .3s;
        background-image: url(../img/background.jpg);
        background-position: left;
        background-size: contain;
    }

    &__link--nodecoration {
        text-decoration: none;
        color: #fff;
    }


    &__header {
        &--1 {
            padding: 0;
            margin: 5px 0 10px;
        }
        &--2 {
            padding: 0;
            margin: 5px 0 5px;
        }
    }
    &__bookInfo {
        margin: 5px 0 2px;
        font-size: 12px;
        color: #fff;
    }

    &__button { 
        display: block;
        margin: 0px auto;
        padding: 6px 0px;
        height: auto;
        border: 3px solid #fff;
        border-radius: 3px;
/*        background: #2c3e50;*/
        background-color: rgba(131, 73, 33, .7);
        color: #fff;
        transition-property: all;
        transition-duration: .3s;
        font-family: MicraDi;
        &:hover {
            /*background: green;*/
            background-color: rgba(218, 141, 23, .7);
        }
    }
    
    &__line {
        width: 100%;
        height: 1px;
        border: 0;
        background-color: #eee;
    }

    &--warning {
        color: tomato;
    }
}

.catalog {
    &__listContainer {
        box-shadow: 0 0 30px #fff;
        height: 60%;
        overflow: scroll;
        border: 0px solid #eee;
        padding: 0;
    }

    &__bookCard {
        background-color: rgba(188, 188, 188, .5);
        color: #eee;
        margin: 3px 0;
        width: 100%;
        padding: 2px 0;
    }

    &__bookTitle{
        margin: 0px 0 5px;
        font-weight: 300;
    }

    &__bookAuthor{
    margin: 0px 0 5px;
    font-weight: 300;
    }
    
    &__editButton {
        
    }
    
    &__deleteButton {
        
    }
}

.book {
    &__read {
        height: 280px;
        overflow: scroll;
        background-color: #eee;
        padding: 5px;
    }

    &__read {
        height: 280px;
        overflow: scroll;
        background-color: #eee;
        padding: 5px;
    }
}

.input {    
    .input() {
        margin-bottom: 10px;
        width: 100%;
        padding: 2px 5px;
        vertical-align: middle;
        border: 2px solid rgb(111, 50, 6);
        background-color: rgba(255, 255, 255, .8);
        border-radius: 5px;
        color: rgb(111, 50, 6);
        transition-property: all;
        transition-duration: .3s;
    }
    
    &__title, &__author, &__contributor {
        .input;
        height: 30px;
    }
    
    &__description {
        .input;
        /*height: 100px;
        width: 100%;*/
        cols: 16;
        resize: none;
    }
    
    &__title:hover, &__author:hover, &__contributor:hover, &__description:hover {
        background-color: rgba(22, 188, 14, .8);
    }
    &:focus {
        color: rgb(111, 50, 6);
        border: 3px solid rgb(111, 50, 6);
        background-color: rgba(22, 188, 14, .5);
    }
    &:invalid {
        border: 3px solid rgb(111, 50, 6);
        background-color: rgba(255, 255, 255, .5);
    }
    &:valid {
        border: 3px solid rgb(111, 50, 6);
        background-color: rgba(255, 255, 255, .5);
    }
}