.footer {
	background-image: url(../../img/footer__bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	margin: 0;
    width: 100%;
	height: 236px;	
	text-align: center;
}

.footer__button {
	display: inline-block;
	padding: 25px;
	margin: 80px;
	font-family: sans-serif;
	font-size: 20px;
	border: 2px solid;
	border-radius: 30px;
	text-decoration: none;
	color: #33cc66
}