@serif: 'Gentium Book Basic', serif;
@serif--italic: 'Gentium Book Basic Italic', serif;
@sans-serif: 'Open Sans', Arial, sans-serif;
@color--gray: #d7d7d7;
@color--white: #fff;

.footer{
	/* display: block; */
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
	
	&__text {
		/* display: inline-block; */
		padding: 0;
		margin: 0;
		/* width: 43%; */
			/* top: 0; */
		padding: 50px 60px;
		color: @color--white;	
		text-decoration: none;
		
	}
	
	&__element1 {
		display: inline-block;
		height: auto;
		background-image: url('../img/footer__image1.jpg');
		background-size: contain;
		background-repeat: no-repeat;
		padding: 0;
		margin: 0;
	background-color: green;
		width: 50%;
	}
	
	&__element2 {
		display: inline-block;
		height: 338px;
		background-image: url('../img/footer__image2.jpg');
		background-size: contain;
		background-repeat: no-repeat;
		padding: 0;
		margin: 0;
		width: 50%;
	}
/*
	&__image1 {
		background-image: url(../img/footer__image1.jpg);
				background-size: cover;
		background-repeat: no-repeat;
		width: 41%;
		/* background-position: right; */
		 /* float: left; 
	}
	
	&__image2 {
		background-image: url(../img/footer__image2.jpg);
				background-size: cover;
		background-repeat: no-repeat;
		width: 41%;
		 background-position: right;
		 float: right;
	}
	*/
/* 
	&__image {
		width: 100%;
		opacity: 0.8;
		margin-bottom: -5%;  /*убрал непонятную полосу в самом низу страницы */	
	

	/* текст внутри элементов */
	&__text {
		position: absolute;
		display: inline;
		top: 0;
		padding: 50px 60px;
		color: @color--white;	
	}

	&__header {
		font-family: @sans-serif;
		font-weight: bold;
		font-size: 14px;
		margin-bottom: 25px;
	}

	&__title {
		font-size: 32px;
		margin: 42px 0 0 10px;
		font-family: @serif;
	}

	&__headline {
		font-family: @serif--italic;
		font-style: italic;
		font-size: 26px;
		margin:  8px 0 0 10px;
	}

	&__header:hover, &__title:hover, &__headline:hover {
		
		animation-name: textIndent;
		animation-duration: 0.1s;
		animation-timing-function: ease-in;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}

	@keyframes textIndent {
		100%{
			text-indent: 10px;
		}
	}

	&__image:hover {
		opacity: 1;
	}
}