@serif: 'Gentium Book Basic', serif;
@serif--italic: 'Gentium Book Basic Italic', serif;
@sans-serif: 'Open Sans', Arial, sans-serif;
@color--gray: #d7d7d7;
@color--white: #fff;


/*для средних и больших экранов*/

@media screen and (min-width:1024px) {
	.footer{
		width: 100%;
		position: relative;
		margin: 0 auto;
		&__element1 {
			display: inline-block;
			width: 50%;
			background-image: url(../img/footer__image1.jpg);
			background-image-size: contain;
			background-position: right bottom;
			background-repeat: no-repeat;
			padding: 50px 0 140px;
		}
		&__element2 {
			display: inline-block;
			width: 50%;
			background-image: url(../img/footer__image2.jpg);
			background-image-size: contain;
			background-position: right top;
			background-repeat: no-repeat;
			padding: 50px 0 140px;
		}			
		&__a {
		color: #fff;	
		text-decoration: none;
		top: 0;
		padding: 0;
		margin: 0;
		}

		&__header {
			font-family: @sans-serif;
			font-weight: bold;
			font-size: 14px;
			margin: 15px 0 25px 70px;
		}

		&__title {
			font-size: 32px;
			margin: 42px 0 0 70px;
			font-family: @serif;
		}

		&__headline {
			font-family: @serif;
			font-style: italic;
			font-size: 26px;
			margin:  6px 0 0 70px;
		}

		&__header:hover, &__title:hover, &__headline:hover {
			animation-name: textIndent;
			animation-duration: 0.1s;
			animation-timing-function: ease-in;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
		}

		@keyframes textIndent {
			100%{
				text-indent: 10px;
			}
		}
	}
}
	
	
/*для маленьких мониторов*/

@media (min-width: 800px) and (max-height: 640px) {
			.footer{
		width: 100%;
		top: 100px;
		position: relative;
		margin: 0;
		&__element1 {
			display: inline-block;
			width: 50%;
			background-image: url(../img/footer__image1.jpg);
			background-image-size: cover;
			background-repeat: no-repeat;
			background-position: right bottom;
			padding: 50px 0 60px;
			
		}
		
		&__element2 {
			display: inline-block;
			width: 50%;
			background-image: url(../img/footer__image2.jpg);
			background-image-size: contain;
			background-repeat: no-repeat;
			background-position: right top;
			padding: 50px 0 60px;
		}
		
		&__a {
			color: #fff;	
			text-decoration: none;
		}
		
				&__header {
			font-family: @sans-serif;
			font-weight: bold;
			font-size: 14px;
			margin: 15px 0 25px 20px;
		}
		
				&__title {
			font-size: 28px;
			margin: 22px 0 0 20px;
			font-family: @serif;
		}
		
				&__headline {
			font-family: @serif;
			font-style: italic;
			font-size: 22px;
			margin:  6px 0 0 20px;
		}
	}
}
	
	
/*для горизонтальных устройств*/

@media (min-width: 480px) and (max-width: 720px) and (orientation: landscape) {
		.footer{
		width: 100%;
		top: 80px;
		position: relative;
		margin: 0;
		&__element1 {
			display: inline-block;
			width: 50%;
			background-image: url(../img/footer__image1.jpg);
			background-image-size: cover;
			background-repeat: no-repeat;
			background-position: right bottom;
			padding: 50px 0 60px;
			
		}
		
		&__element2 {
			display: inline-block;
			width: 50%;
			background-image: url(../img/footer__image2.jpg);
			background-image-size: contain;
			background-repeat: no-repeat;
			background-position: right top;
			padding: 50px 0 60px;
		}
		
		&__a {
			color: #fff;	
			text-decoration: none;
		}
		
				&__header {
			font-family: @sans-serif;
			font-weight: bold;
			font-size: 14px;
			margin: 15px 0 25px 20px;
		}
		
				&__title {
			font-size: 28px;
			margin: 22px 0 0 20px;
			font-family: @serif;
		}
		
				&__headline {
			font-family: @serif;
			font-style: italic;
			font-size: 22px;
			margin:  6px 0 0 20px;
		}
	}
}


/*для маленьких экранов*/

@media screen and (max-width:479px) {
		.footer{
		width: 100%;
		top: 80px;
		position: relative;
		margin: 0;
		&__element1 {
			display: inline-block;
			width: 100%;
			background-image: url(../img/footer__image1.jpg);
			background-image-size: cover;
			background-repeat: no-repeat;
			background-position: right bottom;
			padding: 50px 0 60px;
			margin: 2px 0 2px;
			
		}
		
		&__element2 {
			display: inline-block;
			width: 100%;
			background-image: url(../img/footer__image2.jpg);
			background-image-size: contain;
			background-repeat: no-repeat;
			background-position: right top;
			padding: 50px 0 60px;
			margin: 2px 0 2px;
		}
			
		&__a {
			color: #fff;	
			text-decoration: none;
		}
		
		&__header {
			font-family: @sans-serif;
			font-weight: bold;
			font-size: 14px;
			margin: 15px 0 25px 20px;
		}
		
		&__title {
			font-size: 32px;
			margin: 22px 0 0 20px;
			font-family: @serif;
		}
		
		&__headline {
			font-family: @serif;
			font-style: italic;
			font-size: 22px;
			margin:  6px 0 0 20px;
		}
	}
}