	.downloadMyResume {
		z-index: 2; /*над краем фона предыдущего блока*/
		position: relative;
		background-color: @downloadMyResume__backgroundColor;
		width: 100%;
		text-align: center;
		padding: 0;
		height: @downloadMyResume__blockHeight;
		

		&__skewedBackgroundUpLeft {

			position: absolute;
			background-color: @downloadMyResume__backgroundColor;
			width: 100%;
			height: @downloadMyResume__blockHeight;
			z-index: -1;
			transform-origin: 50% top;
			transform: skewY(12deg);
		} 
				
		&__skewedBackgroundUpRight {
			position: absolute;
			background-color: @downloadMyResume__backgroundColor;
			width: 100%;
			height: @downloadMyResume__blockHeight;
			z-index: -1;
			transform-origin: 50% top;
			transform: skewY(-24deg);
		} 
		
		&__button {
			margin: 20px auto 0px;
			padding: 18px 15px 17px 15px;
			width: 218px;
			border: 0px;
			background-color: #f1c40f;
			border-bottom: 2px solid #b8950a;
			color: @downloadMyResume__textColor;
			font-family: Lato;
			font-weight: 700;
			font-size: 17px;
			border-radius: 3px;
			&:hover {
				color: #206957;
				background-color: #52edc7;
				border-bottom: 2px solid #fff;
			}
		}
	}	