#body {
    background-image: url(../../i/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: verdana, sans-serif;
}

a:link, :visited, strong {
    color: #ccffff;
}