@import url(0_variables/variables.less) all;
@import url(0_default/default.less) all;
@import url(2_about_me/about_me.less) all;
@import url(3_my_skills/my_skills.less) all;
@import url(4_education/education.less) all;
@import url(5_work_experience/work_experience.less) all;
@import url(6_services/services.less) all;
@import url(7_portfolio/portfolio.less) all;
@import url(8_process/process.less) all;
@import url(9_testimonial/testimonial.less) all;
@import url(10_blog/blog.less) all;
@import url(11_contact/contact.less) all;
@import url(12_download_my_resume/download_my_resume.less) all;
@import url(13_footer/footer.less) all;
	.default {
		&__button--noDecoration {
			text-decoration: none;
			color: inherit;
		}
		
		&__title {
			.title () {
				margin-top: 4px;
				padding: 45px 0 23px 21px;
				font-family: @sans-serif;
				font-weight: 500;
				font-size: 36px;
				letter-spacing: 17px;
			}
			&--aboutMe {
				.title;
				color: @aboutMe__textColor;
			}
			&--mySkills {
				.title;
				padding-top: 33px;
			}
			&--education {
				.title;
				padding-top: 98px;
			}
			&--workExperience {
				.title;
			}
			&--services {
				.title;
				padding-top: 27px;
			}
			&--portfolio {
				.title;
				color: @portfolio__textColor;
				padding-top: 104px;
			}
			&--process {
				.title;
				margin: 0;
				padding-top: 25px;
				color: @process__textColor;
			}
			&--testimonial {
				.title;
				padding-top: 35px;				
				color: @testimonial__textColor;
			}
			&--testimonialClients {
				.title;
				margin-top: 14px;
				padding: 35px 0 7px 0;
				font-family: @sans-serif;
				font-weight: 500;
				font-size: 18px;
				letter-spacing: 1px;
			}
			&--blog {
				.title;
				padding-top: 0;
				margin-top: -46px;
				color: @blog__textColor;
			}
			&--contact {
				.title;
				margin: 0px;
				color: @contact__textColor;
			}
		}
		&__line {
			.line () {
				display: inline-block;
				width: 6%;
				height: 1px;
				border: 0;
			}
			&--aboutMe {
				.line;
				background-color: @aboutMe__textColor;
			}
			&--mySkills {
				.line;
				background-color: @mySkills__textColor;
			}
			&--education {
				.line;
				background-color: @education__textColor;
			}
			&--workExperience {
				.line;
				background-color: @workExperience__textColor;	
			}
			&--services {
				.line;
				background-color: @services__textColor;	
			}
			&--portfolio {
				.line;
				background-color: @portfolio__textColor;	
			}
			&--process {
				.line;
				background-color: @process__textColor;	
			}
			&--testimonial {
				.line;
				background-color: @testimonial__textColor;
			}
			&--testimonialClients {
				.line;
				width: 200px;
				background-color: #52edc7;
			}
			&--blog {
				.line;
				background-color: @blog__textColor;
			}
			&--blogPreview {
				.line;
				margin: 0 14px;
				width: 100px;
				background-color: #dedede;
			}			
			&--contact {
				.line;
				background-color: @contact__textColor;	
			}
			&--contactLine {
				.line;
				width: 200px;
				background-color: @contact__textColor;	
			}
			&--downloadMyResume {
				.line;
				width: 200px;
				background-color: @downloadMyResume__textColor;
			}			
		}
				
		&__symbols {
			.symbol () {
				display: inline-block;
				background: url("../img/default__symbols.png") no-repeat;
				vertical-align: -15px;
				margin: 0 30px 0;
				width: 22px;
				height: 25px;
				/* background-color: green; */
			}
			&--aboutMe {
				.symbol;
				background-position: 0;
				margin-left: 35px;
			}
			&--mySkills {
				.symbol;
				background-position: -22px;
			}
			&--education {
				.symbol;
				background-position: -45px;
			}
			&--workExperience {
				.symbol;
				background-position: -69px;
			}
			&--services {
				.symbol;
				background-position: -93px;
			}
			&--portfolio {
				.symbol;
				padding: 0 4px;
				background-position: -114px;
			}
			&--process {
				.symbol;
				padding: 0 2px;
				background-position: -143px;
			}
			&--testimonial {
				.symbol;
				padding: 0 2px;
				background-position: -169px;
			}
			&--blog {
				.symbol;
				padding: 0;
				background-position: -194px;
			}			
			&--contact {
				.symbol;
				padding: 0 2px;
				background-position: -215px;
			}
			&--contactSend {
				.symbol;
				padding: 0 2;
				margin: 0;
				background-position: -266px;
			}
			&--downloadMyResume {
				.symbol;
				padding: 0 2px;
				background-position: -242px;
			}			
		}
	}
@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,500,900|Lato:300,400,700);
@sans-serif: 'Raleway', Arial, sans-serif;

@header__textColor: #fff;

@aboutMe__textColor: black;

@education__textColor: #2b2b2b;
@education__backgroundColor: #eee;

@workExperience__textColor: #2b2b2b;
@workExperience__backgroundColor: #eee;

@mySkills__blockHeight: 459px;
@mySkills__textColor: #fff;
@mySkills__backgroundColor: #1abc9c;

@services__textColor: #2b2b2b;
@services__backgroundColor: #fff;

@portfolio__textColor: #fff;
@portfolio__blockHeight: 520px;

@process__blockHeight: 330px;
@process__textColor: #fff;
@process__backgroundColor: #52edc7;

/* @process__blockHeight: 330px; */
@testimonial__textColor: #2b2b2b;
@testimonial__backgroundColor: #eee;

@blog__blockHeight: 500px;
@blog__textColor: #2b2b2b;
@blog__backgroundColor: #fff;

@contact__textColor: #2b2b2b;
@contact__backgroundColor: #52edc7;

@downloadMyResume__blockHeight: 200px;
@downloadMyResume__textColor: #2b2b2b;
@downloadMyResume__backgroundColor: #fff;

@footer__textColor: #fff;
@footer__backgroundColor: #888b90;
	.blog {
		z-index: 2;
		position: relative;
		background-color: @blog__backgroundColor;
		width: 100%;
		text-align: center;
		padding: 0;
		/* height: @blog__blockHeight; */
		
		&__skewedBackgroundUp {
			position: relative;
			background-color: @blog__backgroundColor;
			width: 100%;
			height: 70px/* @blog__blockHeight */;
			z-index: -1;
			transform-origin: left top;
			transform: skewY(-2.7deg);
		} 
		
		&__skewedBackgroundDown {
			position: relative;
			background-color: @blog__backgroundColor;
			width: 100%;
			height: 70px/* @blog__blockHeight */;
			z-index: -1;
			transform-origin: left top;
			transform: skewY(2.7deg);
		}
			
	@thumbnailSideLength: 368px;
	.blog__articles {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		max-width: 1300px;
		position: relative;
		margin: 30px 3% 0;
		padding: 0;

		.thumbnail (@thumbnailX, @thumbnailY) {
			max-width: @thumbnailSideLength;
			height: @thumbnailSideLength;
			background-image: url(../img/blog__thumbnails.jpg);
			background-position: -@thumbnailX -@thumbnailY;
 			/* background-size: conatain; */
			background-repeat: no-repeat;
		}
		
		&--thumbnail1 {
			.thumbnail (0*@thumbnailSideLength, 0*@thumbnailSideLength);
		}
		&--thumbnail2 {
			.thumbnail (1*@thumbnailSideLength+1, 0*@thumbnailSideLength);
		}
		&--thumbnail3 {
			.thumbnail (2*@thumbnailSideLength+2, 0*@thumbnailSideLength);
		}
		&--thumbnail4 {
			.thumbnail (0*@thumbnailSideLength, 0*@thumbnailSideLength);
		}
		&--thumbnail5 {
			.thumbnail (1*@thumbnailSideLength, 0*@thumbnailSideLength);
		}
		&--thumbnail6 {
			.thumbnail (2*@thumbnailSideLength+2, 0*@thumbnailSideLength);
		}
	}
		&__articlePreview {
			position: relative;
			font-size: 17px;
			font-weight: 300;
			color: #888b90;
			line-height: 28px;
			margin: 12px 14px;
			text-align: left;
			max-width: @thumbnailSideLength;
			border-radius: 3px;
			border: 1px solid #eee;
		}
		@datePosition: 225px;
		&__rotatedSquare {
			position: absolute;
			top: @datePosition+30px;
			left: 30px;
			width: 60px;
			height: 60px;
			background-color: #52edc7;
			/* transform-origin: bottom left; */
			transform: rotate(45deg);
			transition-property: transform;
			transition-duration: .3s;
			&:hover {
				transform-origin: 50% 50%;
				transform: rotate(135deg);
			}
		}
		&__date {
			position: absolute;
			color: #fff;
			top: @datePosition+38px;
			font-family: Lato;
			font-weight: 700;
			left: 44px;
			text-align: center;	
			line-height: 20px;
			&--day {
				font-size: 27px;
			}
			&--month {
				font-size: 16px;
			}
		}	
	
		&__articleName {
			font-family: Lato;
			font-weight: 700;
			color: #2b2b2b;
			font-size: 19px;
			margin-top: -42px;
			padding: 0 18px;
			line-height: 30px;	
		}

		&__articleDescription {
			font-family: Lato;
			font-weight: 400;
			color: #888b90;
			font-size: 15px;
			padding: 0 18px ;
			line-height: 25px;
		}
		
		&__social {
			display: inline-block;
			font-family: Lato;
			font-weight: 700;
			color: #888b90;
			font-size: 15px;
			padding: 0 18px;
			line-height: 25px;
			border-top: 1px solid #eee;
			transition-property: all; 
			&:hover: {
				background-color: #888b90;
				color: #2b2b2b;
			}
		}
	}
	.contact {
 		z-index: 1;
		position: relative;
		background-color: @contact__backgroundColor;
		margin: 0;
		font-family: @sans-serif;
		width: 100%;
		text-align: center;
		padding: 0;
		height: 830px;
		
		&__content {
			max-width: 1300px;
			font-size: 17px;
			font-weight: 300;
			color: #888b90;
			line-height: 28px;
			margin: 0 auto;
		}

		&__column {
		
			&--address {
				display: inline-block;
/* 				color: #fff; */
				width: 400px;
				margin: 47px 15px 0;
				text-align: left;
			}
			
			&--input {
				display: inline-block;
				/* color: #fff; */
				width: 700px;
				margin: 47px 15px 0;
				height: 20px;
				text-align: left;
			}
		}
		
		&__sayHi {
			font-family: @sans-serif;
			color: @contact__textColor;
			font-size: 17px;
			font-weight: 300;
		}
			
		&__contact {
			font-family: Lato;
			font-size: 17px;
			font-weight: 400;
			color: @contact__textColor;
		}
		
		&__message {
			resize: none;
		}
	}
	.downloadMyResume {
		z-index: 0; /*над краем фона предыдущего блока*/
		position: relative;
		background-color: @downloadMyResume__backgroundColor;
		width: 100%;
		text-align: center;
		padding: 0;
		height: @downloadMyResume__blockHeight;

		&__skewedBackgroundUpLeft {

			position: absolute;
			background-color: @downloadMyResume__backgroundColor;
			width: 100%;
			height: @downloadMyResume__blockHeight;
			z-index: -1;
			transform-origin: 50% top;
			transform: skewY(12deg);
		} 
				
		&__skewedBackgroundUpRight {
			position: absolute;
			background-color: @downloadMyResume__backgroundColor;
			width: 100%;
			height: @downloadMyResume__blockHeight;
			z-index: -1;
			transform-origin: 50% top;
			transform: skewY(-24deg);
		} 
		
		&__button {
			margin: 0 auto;
			padding: 18px 0 17px 27px;
			border: 2px solid white;
			background-color: #f1c40f;
			color: @downloadMyResume__textColor;
			width: 218px;
			font-family: Lato;
			border-radius: 3px;
			font-weight: 400;
			font-size: 14px;
			letter-spacing: 1.3px;
		}
	}	
	.footer {
		position: relative;
		background-color: @footer__backgroundColor;
		width: 100%;
		text-align: center;
		padding: 0;
		height: 100px;

		&__text {
			text-align: center;
			font-family: Lato;
			font-size: 17px;
			font-weight: 700;
			padding: 35px;
			color: @footer__textColor;
		} 
	}
	.aboutMe {
		position: relative;
		width: 100%;
		text-align: center;
		padding: 0;
		height: 523px;
		
		&__content {
			padding: 10px 7.5% 0 7.3%;
			max-width: 1250px;
			font-family: Lato;
			font-size: 18px;
			font-weight: 300;
			color: #888b90;
			line-height: 30px;
		}
		
		&__social {
			display: inline-block;
			@spriteSideLength: 71px;
			height: @spriteSideLength;
			width: @spriteSideLength;
			background: url('../img/about_me__social.png');
			margin: 18px 11px 0;
			transform: scale(1);
			background-repeat: no-repeat;
			
			&--fb {
				background-position: 0px;
			}
			&--tw {
				background-position: -@spriteSideLength;
			}
			&--in {
				background-position: -2*@spriteSideLength;
			}
			&--dr {
				background-position: -3*@spriteSideLength;
			}
			&--gl {
				background-position: -4*@spriteSideLength;
			}
			&--pn {
				background-position: -5*@spriteSideLength;
			}
		}
		}
	
		
	.mySkills {
		width: 100%;
		height: @mySkills__blockHeight;
		margin-top: 30px;
		text-align: center;
		color: @mySkills__textColor;
	
		&__skewedBackgroundUp {
			position: absolute;
			background-color: @mySkills__backgroundColor;
			width: 100%;
			height: @mySkills__blockHeight;
			z-index: -1;
			transform-origin: left top;
			transform: skewY(2.7deg);
		} 
			
		&__skewedBackgroundDown {
			position: absolute;
			background-color: @mySkills__backgroundColor;
			width: 100%;
			height: @mySkills__blockHeight;
			z-index: -1;
			transform-origin: left top;
			transform: skewY(-5.4deg);
		} 
		
		&__progressBar {
		display: inline-block;
		margin: 65px 12px;
		height: @progressBarRadius;
		width: @progressBarRadius;
		z-index: 1;
		}
	}
	
	@progressBar__borderWidth: 25px;
	@progressBarRadius: 166px;
	.progressBar {
		&__skillName {
			display: inline-block;
			padding: 22px 0 0px 0;
			font-family: Raleway;
			font-size: 16px;
			
			&--smallText {
					vertical-align: -1px;
					font-size: 15px;	
			}
		}
		
		@progressBar__background: #6ed4c0;
		
		&__background {
			background-color: @progressBar__background;
			z-index: 2;
			width: @progressBarRadius;
			height: @progressBarRadius;
			border-radius: 50%;
		}
			
			&__right {
				.right () {
					z-index: 3;
					background-color: @mySkills__textColor;
					position: relative;
					left: 50%;
					width: @progressBarRadius/2;
					height: @progressBarRadius;
					border-radius: 0 @progressBarRadius @progressBarRadius 0;
				}
				&--photoshop {
					.right;
				}
				
				
				&--illustrator {
					.right;
				}
				
				
				&--photography {
					.right;
				}
				
				&--html5_css3 {
					.right;
				}
				
				&--c4d {
					.right;
				}
				
				&--afterEffect {
					.right;
				}
			}
			
				&__mask {
					z-index: 4;
					background-color: @progressBar__background;
					position: relative;
					left: -@progressBarRadius/2;
					width: @progressBarRadius/2;
					height: @progressBarRadius;
					border-radius: @progressBarRadius 0 0 @progressBarRadius;
				}
					&__left {
						.left (@angle) {
						z-index: 5;
						background-color: @mySkills__textColor;
						position: relative;
						left: @progressBarRadius/2;
						width: @progressBarRadius/2;
						height: @progressBarRadius;
						border-radius: 0 @progressBarRadius @progressBarRadius 0;
						transform-origin: 0 50%;
						@angle_deg: 3.6deg*(@angle - 50);
						transform: rotate(@angle_deg);
						}

						&--photoshop {
							.left(75);
						}
						
						
						&--illustrator {
							.left(68);
						}
						
						
						&--photography {
							.left(50);
						}
						
						&--html5_css3 {
							.left(95);
						}
						
						&--c4d {
							.left(80);
						}
						
						&--afterEffect {
							.left(100);
						}
					}
						&__value {
							&Background {
								z-index: 6;
								position: relative;
								top: -(@progressBarRadius - @progressBar__borderWidth/2 );
								left: @progressBar__borderWidth/2;
								background-color: @mySkills__backgroundColor;
								width: (@progressBarRadius)-@progressBar__borderWidth;
								height: (@progressBarRadius)-@progressBar__borderWidth;
								border-radius: 50%;
							}
							&Text {
								display: inline-block;
								margin: 0;
								padding: 50px 0 30px 5px;
								font-family: Raleway;
								font-size: 34px;			
								
								&--smallText {
										vertical-align: 0px;
										font-size: 24px;	
								}
							}
						}
	}			
	.education {
		z-index: -2; /*РїРѕРґ РєСЂР°РµРј С„РѕРЅР° РїСЂРµРґС‹РґСѓС‰РµРіРѕ Р±Р»РѕРєР°*/
		position: relative;
		background-color: @education__backgroundColor;
		margin: 0;
		width: 100%;
		text-align: center;
		padding: 0;
		height: 680px;
		
		&__content {
			max-width: 1300px;
			font-family: Lato;
			font-size: 17px;
			font-weight: 300;
			color: #888b90;
			line-height: 28px;
			margin: 0 auto;
		}

		&__column {
			display: inline-block;
			color: #fff;
			width: 360px;
			margin: 47px 15px 0;
		}
		&__period {
			background-color: #52edc7;
			width: 160px;
			margin: 0 auto;
			padding: 4px 0;
		}
		&__status {
			background-color: #4ad7b4;
			width: 160px;
			margin: 0 auto;
			padding: 5px 0;
		}		
		&__triangle {
			
			margin: 35px auto -30px auto;
			background-color: #52edc7;
			width: 42px;
			height: 42px;
			transform: rotate(45deg);
		}
		&__degree {
			opacity: .99;
			font-family: Lato;
			font-weight: 700;
			font-size: 18px;
			color: #4a4a4a;
			background-color: #52edc7;
			padding: 18px 8px;
			border-radius: 3px 3px 0 0;
		}		
		&__university {
			color: white;
			padding-top: 3px;
			height: 20px;
		}		
		&__description {
			display: inline-block;
			color: #888b90;
			background-color: #fff;
			font-family: Lato;
			font-weight: 300;
			font-size: 20px;
			height: 90px;
			padding: 20px 20px;
			border-radius: 0 0 3px 3px;
		}
		&__line--gray {
			/* align: center; */
			width: 13%;	
			height: 2px;
			border: 0;
			background-color: #dcdcdf;
			margin: 61px auto;
		}
}
	.workExperience {
		z-index: -2; /*под краем фона предыдущего блока*/
		position: relative;
		background-color: @workExperience__backgroundColor;
		width: 100%;
		text-align: center;
		padding: 0;
		height: 674px;
		margin-top: -10px;
		
		&__content {
			max-width: 1300px;
			font-family: Lato;
			font-size: 17px;
			font-weight: 300;
			color: #888b90;
			line-height: 28px;
			margin: 0 auto;
		}
		&__column {
			display: inline-block;
			color: #fff;
			width: 360px;
			margin: 50px 15px 0;
		}
		&__period {
			background-color: #52edc7;
			font-weight: 700;
			color: #fff;
			font-size: 18px;
			padding: 5px;
			border-radius: 3px 3px 0 0;
		}
		&__company {
			font-weight: bold;
			font-size: 22px;
			padding: 20px 0 3px;
			color: #4a4a4a;
			background-color: #fff;
		}		
		&__specialist {
			font-weight: 400;
			font-size: 19px;
			color: #c1c1c1;
			background-color: #fff;
		}		
		&__description {
			color: #888b90;
			font-weight: 300;
			font-size: 18px;
			background-color: #fff;
			padding: 30px 15px 26px;
			line-height: 30px;
			border-radius: 0 0 3px 3px;
		}
}	
	.services {
		z-index: 0; /*над краем фона предыдущего блока*/
		position: relative;
		background-color: @services__backgroundColor;
		width: 100%;
		text-align: center;
		padding: 0;
		height: 567px;

		&__skewedBackgroundUp {

			position: absolute;
			background-color: @services__backgroundColor;
			width: 100%;
			height: 430px;
			z-index: -1;
			transform-origin: left top;
			transform: skewY(2.7deg);
		} 
				
		&__skewedBackgroundDown {
			position: absolute;
			background-color: @services__backgroundColor;
			width: 100%;
			height: 430px;
			z-index: -1;
			transform-origin: left top;
			transform: skewY(-5.4deg);
		} 
		
		&__content {
			max-width: 1300px;
			margin: 0 auto;
			font-family: Lato;
			font-size: 17px;
			font-weight: 300;
			color: #888b90;
			line-height: 28px;
		}
		&__column {
			display: inline-block;
			color: #fff;
			width: 19%;
			margin: 52px 22px 0;
		}
		@serviceIconSideLength: 190px;
		.icon () {
			
			background-image: url('../img/services__icons.png');
			background-repeat: no-repeat;
			width: @serviceIconSideLength;
			height: @serviceIconSideLength;
			margin: 0 auto;
			
		}
		&__icon--webDesign {
			background-position: 0;
			.icon;
		}
		&__icon--graphicDesign {
			background-position: -@serviceIconSideLength;
			.icon;
		}
		&__icon--contentWriter {
			background-position: -2*@serviceIconSideLength;
			.icon;
		}
		&__icon--development {
			background-position: -3*@serviceIconSideLength;
			.icon;
		}
		&__serviceName {
			font-weight: 700;
			font-size: 24px;
			padding-top: 28px;
			color: #2b2b2b;
		}		
		&__description {
			font-weight: 300;
			font-size: 18px;
			padding-top: 22px;			
			color: #888b90;
			background-color: #fff;
		}
}	
	.portfolio {
		z-index: 0;
		position: relative;
		text-align: center;
		padding: 0;
		height: @portfolio__blockHeight;
		background-image: url('../img/portfolio__bg.png');
		background-size: cover;
		width: 100%;
		height: 1192px;
		
		&__content {
			max-width: 1160px;
			margin: 20px auto;
			font-family: Lato;
			font-size: 19px;
			font-weight: 300;
			color: #fff;
			line-height: 29px;
		}

		
		&__tag {
			display: inline-block;
			padding: 6px 13px;
			margin: 19px 4px;
			border: 2px solid white;
			border-radius: 3px;
			font-family: Lato;
			font-weight: 400;
			font-size: 18px;
			color: white;
		}
		&__tag:hover {
			color: #206957;
			background-color: #52edc7;
			border-color: #52edc7;		
		}
		
		&__projectName {
			font-family: Lato;
			font-weight: 700;
			color: #fff;
			font-size: 24px;
			padding: 70px 0 0;
		}

		&__projectDescription {
			font-family: Lato;
			font-weight: 400;
			color: #fff;
			font-size: 14px;
			padding: 10px;
		}
		
		&__viewButton {
			display: inline-block;
			padding: 10px 15px;
			margin: 22px;
			width: 90px;
			border: 2px solid white;
			border-radius: 3px;
			font-family: Lato;
			font-weight: 400;
			font-size: 20px;
			color: white;
		}
		&__viewButton:hover {
			color: #206957;
			background-color: #f1c40f;
			border-color: #f1c40f;		
		}
	}
	.portfolioThumbnails__settings () { 
	/*СЃРѕР·РґР°СЋС‚СЃСЏ 2 СЃР»РѕСЏ, РѕРґРёРЅР°РєРѕРІС‹С… СЂР°Р·РјРµСЂРѕРІ, РѕРґРёРЅ РЅР°Рґ РґСЂСѓРіРёРј. РєРЅРѕРїРєРё РЅР°СЂРёСЃРѕРІР°РЅС‹ РЅР° РЅРёР¶РЅРµРј*/
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		max-width: 100%;
		position: absolute;
		margin: 50px 10% 0;

	}

	@thumbnailSideLength: 300px;

	.portfolioThumbnails__buttonLayer {
		.portfolioThumbnails__settings;

		.thumbnail () {
			width: @thumbnailSideLength;
			height: @thumbnailSideLength;
			z-index: 9;
			background-color: rgba(82, 237, 199, .5);
			transition-property: all;
			transition-duration: 0.3s;
			opacity: 0;
		}
		
		&--1, &--2, &--3, &--4, &--5, &--6 {
			.thumbnail;
		}
		&--1:hover, &--2:hover, &--3:hover, &--4:hover, &--5:hover, &--6:hover {
			opacity: 1;
		}
	}
	
	.portfolioThumbnails {
		.portfolioThumbnails__settings;

		.thumbnail (@thumbnailX, @thumbnailY) {
			width: @thumbnailSideLength;
			height: @thumbnailSideLength;
			background-image: url(../img/portfolio__thumbnails.jpg);
			background-position: -@thumbnailX -@thumbnailY;
			background-repeat: no-repeat;
			z-index: 8;
		}
		
		&--1 {
			.thumbnail (0*@thumbnailSideLength, 0*@thumbnailSideLength);
		}
		&--2 {
			.thumbnail (1*@thumbnailSideLength, 0*@thumbnailSideLength);
		}
		&--3 {
			.thumbnail (2*@thumbnailSideLength+1, 0*@thumbnailSideLength);
		}
		&--4 {
			.thumbnail (0*@thumbnailSideLength, 1*@thumbnailSideLength);
		}
		&--5 {
			.thumbnail (1*@thumbnailSideLength, 1*@thumbnailSideLength);
		}
		&--6 {
			.thumbnail (2*@thumbnailSideLength+1, 1*@thumbnailSideLength);
		}
	}
	
	.process {
		z-index: 2; /*над краем фона предыдущего блока*/
		position: relative;
		/* background-color: @process__backgroundColor; */
		width: 100%;
		text-align: center;
		padding: 0;
		margin-top: -5px;
		height: @process__blockHeight;

		&__skewedBackgroundUp {

			position: absolute;
			background-color: @process__backgroundColor;
			width: 100%;
			height: @process__blockHeight;
			z-index: -1;
			transform-origin: left top;
			transform: skewY(2.7deg);
		} 
				
		&__skewedBackgroundDown {
			position: absolute;
			background-color: @process__backgroundColor;
			width: 100%;
			height: @process__blockHeight;
			z-index: -1;
			transform-origin: left top;
			transform: skewY(-5.4deg);
		} 
		
		
		&__image {
			display: flex;
			width: 100%;
			justify-content: center;
			flex-wrap: wrap;
			margin: 25px auto;
				
			.process (@sprite) {
				background-image: url(../img/process__image.png);
				background-position: @sprite;
			 	background-repeat: no-repeat;
				background-size: cover;
				min-width: 132px;
				height: 132px;
				margin: 0 5px;
				transition-property: all;
				transition-duration: .3s;
			}
			@sprite: -133px;
			&--idea {
				.process (0);
			}
			&--concept {
				.process (1*@sprite);
			}
			&--design {
				.process (2*@sprite);
			}
			&--develop {
				.process (3*@sprite);
			}
			&--test {
				.process (4*@sprite);
			}
			&--launch {
				.process (5*@sprite);
			}
			&--arrowRight {
				.process (6*@sprite);
				min-width: 17px;
			}
			
			&--idea:hover, &--concept:hover, &--design:hover, &--develop:hover, &--test:hover, &--launch:hover, &--arrowRight:hover {
				transform: translateX(3px);
			}
		}
	}
 	.testimonial {
		z-index: 1; /*РїРѕРґ РєСЂР°РµРј С„РѕРЅР° РїСЂРµРґС‹РґСѓС‰РµРіРѕ Р±Р»РѕРєР°*/
		position: relative;
		background-color: @testimonial__backgroundColor;
		margin: 0 auto;
		width: 100%;
		text-align: center;
		padding: 50px 0 130px 0;
		
		&__content {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			max-width: 1300px;
			font-family: Lato;
			font-size: 17px;
			font-weight: 300;
			color: #888b90;
			margin: 0 auto;
		}
		
		&__arrow {
			.arrow (@angle) {
				display: inline-block;
				position: relative;
				margin: 0 60px;
				height: 18px;
				width: 18px;
				border: solid #d8d8d8;
				border-width: 4px 0 0 4px;
				transform: rotate(@angle);
				transition-property: transform color;
				transition-duration: .5s;
				&:hover {
					border-color: #2b2b2b;
					transform: scale(1.1) rotate(@angle);
				}
			}
			&--left {
				.arrow (-45deg);
			}
			&--right {
				.arrow (135deg);
			}
		}

		&__contentBox {
				position:relative;
				display: inline-block;
				padding: 20px 0 10px 0;
				width: 560px;
				height: 260x;
				margin: 38px 0 0 0;
				border: solid #52edc7;
				border-width: 15px 0 0 0;
				border-radius: 3px;
				background-color: #fff;
		}
			
		&__avatar {
			display: inline-block;
			position: relative;
			top: 0px;
			left: 0px;
			padding: 0px;
			margin: 15px 25px 0 0px;
			border: 7px solid #eee;
			border-radius: 50%;
			overflow: hidden;	
			width: 164px;
			height: 164px;
			background-image: url('../img/testimonial__avatar.jpg');
			background-repeat: no-repeat;
			background-position: left top;
			background-size: cover;
			
		}
		
		&__feedback {
			display: inline-block;
			position: relative;
 			top: -32px;
			left: 25px;
			width: 270px;
			line-height: 27px;
			font-family: Lato;
			font-style: italic;
			font-weight: 500;
			font-size: 16px;
			letter-spacing: .4;
			color: #4a4a4a;
			text-align: left;
			margin-bottom: 10px;
		}
		
		.feedback {
		
			&__quote {
				font-family: Lato;
				color: #52edc7;
				font-weight: 900;
				font-size: 70px;
				padding-top: 20px;
				line-height: 20px;
				
			}
			
			&__signature {
				
				position: relative;
				bottom: -20px;
				color: #888b90;
				font-weight: 900;
				font-family: Lato;
				font-style: italic;
				font-weight: 700;
				font-size: 16px;				
			}
		}
		
		&__clients {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			max-width: 1300px;
			height: 50px;
			margin: 0 auto;
			
			.client (@sprite) {
				display: inline-block;
				min-width: 220px;
				height: 50px;
				margin: 40px 35px 0;
				background: url(../img/testimonial__clients.png);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: @sprite;
			}
			
			@sprite: -220px;
			&--1 {
				.client(0);
			}
			
			&--2 {
				.client(1*@sprite);
			}
			
			&--3 {
				.client(2*@sprite);
			}
		}
	}